/*
Ascpectos Generales: Bordes y Color de fondo de la calculadora
*/
.calculadora {
    background-color: #f6f8d8;
    border: 3px blue ridge;
    text-align: center;
    width: 250px;
}

.calculadora input.largo {
    color: red;
    width: 60px;
}

.calculadora [type=button] {
    padding: 0;
    width: 35px;
}

#textoPantalla {
    background-color: white;
    border: 2px black solid;
    font-family: "Courier new";
    left: 23px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    text-align: right;
    width: 186px;
}