section#home {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/fondos/fondo1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

section#about {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/fondos/fondo2.jpg');
    background-size: cover;
    background-position: center;
}

section#contact {
    height: 100vh;
    width: 100vw;
    background-image: 
        url('../img/fondos/koopa.png'), 
        url('../img/fondos/mariobros.png'),
        url('../img/fondos/star.png'),
        url('../img/fondos/fondo4.jpg');
    background-position: 30% 88%, center, top, center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 20%, 20%, 10%, cover;
}

#home h1 {

}